.container-fluid-home-page{
    background-color: #f0efeb;
    text-align: center;
    margin: 0 auto;
    background-position: center;
    /* background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    background-image: 100%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-fluid-logo{
    height: 60%;
    transform: translateY(50px);
}


.home-p{
    font-size: 1em;
    font-family:sans-serif;
    text-align: center;
    justify-content: center;
    padding: 1px 100px 1px;
    font-weight: bold;
}
.home-about-h2{
    color: #0e9522;
    font-size: 2em;
    font-family: sans-serif;

}

.home-button {
    background: none;
    background-color: #4a7a0f;
    color: #fff;
    border: 2px solid #ece5e6;
    padding: 0.5em 1em;
    transition: all 0.25s;
    width: 10em;
    margin-top: 5em;
    border-radius: 15px;
    box-shadow: 10px 5px 5px grey;
}

.home-button:hover {
    background-color: #0bc587;
    color: #fff;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.50em);
    cursor: pointer;
}
.home-button1 {
    background: none;
    background-color: #4a7a0f;
    color: #fff;
    border: 2px solid #f7fef9;
    padding: 0.5em 1em;
    transition: all 0.25s;
    width: 10em;
    margin-top: 5em;
    border-radius: 15px;
    margin-left: 10px;
    box-shadow: 10px 5px 5px grey;
}

.home-button1:hover {
    background-color: #047c3a;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.50em);
    cursor: pointer;
}
.Two-Buttons{
    display: flex;
}
.para {
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
    transform: translateY(-2.50em);
}
.home-page-para1{
    color: black;
    margin: 20px;
    transform: translateY(40);
    font-weight: bold;
    padding: 40px 100px 0px;
}
.home-page-para2{
    color: black;
    margin: 20px;
    font-weight: bold;
    padding: 40px 100px 0px;
}
.para-with-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



/* -------------------MEDIA QUERIESS 576px------------------------ */
@media (max-width: 768px) {
    .page-body {
        text-align: center;
        background-size: cover;
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;    
    }
    .main-header {
        font-size: 2.2em;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0.5em 0.5em -0.4em;
        /* transform: translateY(-0.5em); */
        display: inline-block;
    }
    .home-second-header{
        font-size: 1.7em;
        transform: translateY(-30px);
    }
    .para {
        text-align: center;
        margin: 0 auto;
        font-size: 1.2em;
    }
    .Two-Buttons{
        display: flex;
    }
}

/* -------------------MEDIA QUERIESS 576px------------------------ */

@media (max-width: 576px) {
    .page-body {
        text-align: center;
        background-size: cover;
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;    
    }
    .main-header {
        font-size: 2.2em;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0.5em 0.5em -0.4em;
        /* transform: translateY(-0.5em); */
        display: inline-block;
    }
    .home-second-header{
        font-size: 1.5em;
        transform: translateY(-20px);
    }
    .para {
        text-align: center;
        margin: 0 auto;
        font-size: 1em;
    }
}
