section {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    background-color:grey;
  }
  .img-fluid-logo-app{
    height: 60%;
    transform: translateY(-10px);
    width: 30px;
}
.green-monitor-app {
    color: #4a7a0f;
    font-family: sans-serif;
    font-size: 1em;
    transform: translateY(px);
    
}
  h3{
    padding-top: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    color: black;
    display: inline-block;
    
  }
  .h3{
    color: black;
    font-size: 1em;
    font-weight: bold;

  }
  .select-district-h4{
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    color: black;
    display: inline-block;
  }
  
  .firstinput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: -50px;
  }
  .column {
      margin-top: 30px;
      font-size: 1.7em;
      font-weight: bold;
      font-family: sans-serif;
  }
  .first {
    font-weight: bold;
    height: 400px;
    width: 550px;
    color: white;
    background-image: url('../../Assets/Images/Mitte/Mitte1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(-0.50em);
    font-family: 'Open Sans', sans-serif;
  }
  .second {
    height: 400px;
    width: 550px;
    color: white;
    background-image: url('../../Assets/Images/Pankow/Pankow1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(0.50em);
  }
  .third {
    height: 400px;
    width: 550px;
    color: white;
    background-image: url('../../Assets/Images/Charlottenburg/Charlottenburg2.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(-0.50em);
  }
  .fourth {
    height: 400px;
    width: 550px;
    color: white;
    background-image: url('../../Assets/Images/Friedrichshain/friedrichshain1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(0.50em);
  }
  .fifth {
    height: 400px;
    width: 550px;
    color: white;
    background-image: url('../../Assets/Images/Spandau/Spandau1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(-0.50em);
  }
  .sixth {
    height: 400px;
    width: 550px;
    color: white;
    background-image: url('../../Assets/Images/Reinickendorf/Renickendorf1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(0.50em);
  }
  .seventh {
    height: 400px;
    width: 550px;
    background-color: black;
    color: white;
    background-image: url('../../Assets/Images/Lichtenberg/Lichtenberg1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(-0.50em);
  
  }
  
  .eighth {
    height: 400px;
    width: 550px;
    color: white;
    background-image: url('../../Assets/Images/Marzahn/Marzahn2.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(0.50em);
  }
  
  .ninth {
    height: 400px;
    width: 550px;
    color: white;
    background-image: url('../../Assets/Images/kopenick/kopenick1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(-0.50em);
  }
  
  .tenth {
    height: 400px;
    width: 550px;
    color: white;
    background-image: url('../../Assets/Images/Neukoln/Neukoln1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(0.50em);
  }
  
  .eleventh {
    height: 400px;
    width: 550px;
    color: white;
    background-image: url('../../Assets/Images/Tempelhof/Tempelhof1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(-0.50em);
  }
  
  .twelvth {
    height: 400px;
    width: 550px;
    color: white;
    background-image: url('../../Assets/Images/Steglitz/SteglitzZehlendorf1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateX(0.50em);
  }
  
  
  
  /* .menu {
    display: flex;
    align-items: flex-end;
    justify-content: end;
  } */
  a {
    /* box-shadow: 0 0.5em 0.5em -0.4em; */
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* font-size: 1.3em; */
  }

  a.item:active {
    color: black;
  }
  @media screen and (max-width: 500px){
    .district a {
      float: none;
      display: block;
    }
    
  }


  
  
  
  
   