.image1-column{
    height: 300px;
    width: 550px;
    color: white;
    background-image: url('https://images.unsplash.com/photo-1502394202744-021cfbb17454?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHRyZWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5em 0.5em -0.4em;
}

@media (max-width: 768px) {
    .image1-column {
      width: 80%;
      height: 250px;
      font-size: 1em;
     justify-content: center;
     align-items: center;
    }
    
}