.about-app-p{
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    justify-content: center;
    line-height: 1.5;
    padding: 3em;
    
}
.about-us{
    font-size: 2em;
    padding: .5em;
}
.about-trees-app{
    font-size:1.5em;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    justify-content: center;
    padding: 3em;
}